<html>
  <link rel="stylesheet" type="text/css" href="MainTheme.css">
  <body style="background: #f5f5f5; font: bold 30px "Helvetica Neue", Helvetica, Arial, sans-serif;">
    <div id="header" style="position: fixed; left: 0; top: 0; right:0; background: #CBE32D; height: 50px;">
      <div id="centerHeader" style="width:980px; margin:0 auto; padding-top: 5px;">

        <label id="title">India's Yelp</label>
        <input type="textbox" class="textbox" placeholder="Search by city"></input>
        <input type="textbox" class="textbox" style="margin-left: 340px;" placeholder="Search by type"></input>
        <a class="link">Login/SignUp</a>
      </div>
    </div>
    <div id="body">
      <div id="navBar">
        <ul>
          <li><a class="active" href="#home">Home</a></li>
          <li><a href="#news">Restaurants</a></li>
          <li><a href="#contact">Write Reviews</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="">Add Restaurant</a></li>
          <li><a href="">Contact</a></li>
        </ul>

      </div>
      <div id="text_body" class="textBody">
        <div id="image_holder" class="imageHolder">
          <img src="food.jpg" style="width: 100%; height: auto; "></img>
        </div>
        <div id="text_holder" class="textHolder">
            <label class="titleCard">Restaurant Name</label>
            <p>
              This place holds some description of the restaurant
            </p>
            <br />
            <div class="comments">
              <div id="image_sub_holder" class="imageSubHolder">
                <img src="profile.jpg" style="width: 100%; height: auto; "></img>
              </div>
              <div id="text_sub_holder" class="textSubHolder">
                <label class="nameCard">Username Lastname</label>
                <p>
                  I love this place!
                </p>
              </div>
            </div>
            <div class="comments">
              <div id="image_sub_holder" class="imageSubHolder">
                <img src="profile.jpg" style="width: 100%; height: auto; "></img>
              </div>
              <div id="text_sub_holder" class="textSubHolder">
                <label class="nameCard">Username Lastname</label>
                <p>
                  I love this place!
                </p>
              </div>
            </div>
            <div class="comments">
              <div id="image_sub_holder" class="imageSubHolder">
                <img src="profile.jpg" style="width: 100%; height: auto; "></img>
              </div>
              <div id="text_sub_holder" class="textSubHolder">
                <label class="nameCard">Username Lastname</label>
                <p>
                  I love this place!
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
